
{% extends 'counseling/base.html' %}
{% load static %}
{% block services %}active{% endblock %}
{% block body %}
    <!-- END nav -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Services</h1>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-4">Why Choose Us?</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>
  			<div class="row tabulation mt-4 ftco-animate">
  				<div class="col-md-4">
						<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
						  <li class="nav-item text-left">
						    <a class="nav-link active py-4" data-toggle="tab" href="#services-1"><span class="flaticon-chiropractic mr-2"></span> Guidence and career counseling</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-2"><span class="flaticon-electrotherapy mr-2"></span> Rehabilitation</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-3"><span class="flaticon-lymph-nodes mr-2"></span> Mental health counseling</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-4"><span class="flaticon-acupuncture mr-2"></span> Educational counseling</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-5"><span class="flaticon-examination mr-2"></span> Therapeutic Exercise</a>
						  </li>
						  <li class="nav-item text-left">
						    <a class="nav-link py-4" data-toggle="tab" href="#services-6"><span class="flaticon-bone mr-2"></span> Substance abuse counseling</a>
						  </li>
						</ul>
					</div>
					<div class="col-md-8">
						<div class="tab-content">
						  <div class="tab-pane container p-0 active" id="services-1">
						  	<div class="img" style="background-image: url(images/work-2.jpg);"></div>
						  	<h3><a href="#">Guidance and career counseling</a></h3>
						  	<p>It is a comprehensive, developmental program designed to assist individuals in making and implementing informed educational and occupational choices. A career guidance and counseling program develops an individual's competencies in self-knowledge, educational and occupational exploration, and career planning..</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-2">
						  	<div class="img" style="background-image: url(images/work-3.jpg);"></div>
						  	<h3><a href="#">Rehabilation counseling</a></h3>
						  	<p>is a specific practice of counseling within the discipline where professionals work to help people who have emotional and physical disabilities so that they are able to live more independently.

If you are trying to choose a professional specialty in the field of counseling to pursue, the rehabilitation practice is a practical one to consider. If you would like to learn what a rehabilitation counselor does and what settings they may work in, read this guide so that you can make an informed decision when mapping out your career path.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-3">
						  	<div class="img" style="background-image: url(images/work-4.jpg);"></div>
						  	<h3><a href="#">Mental health counseling</a></h3>
						  	<p>Mental health is more than just being free from any type of mental disorder. It is an important aspect of a person’s overall well being because if your mind is unhealthy, the rest of the body will not be able to function well.Over 450 million individuals are suffering from mental disorders. One in four individuals have the risk of being affected by a mental health disorder.

Today, mental illnesses affect more and more people, but help is limited. There are still those, especially people who do not understand, who have doubts about mental health disorders and stigmatize those that suffer from them.</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-4">
						  	<div class="img" style="background-image: url(images/work-5.jpg);"></div>
						  	<h3><a href="#">Educational counseling</a></h3>
						  	<p>Educational counseling, or school counseling, is an important part of virtually all educational institutions in the US. It is within this practice that students, their loved ones, and even school staff can resolve outstanding, negative situations as well as improve upon those which are positive. For those wishing to learn more about this integral part of the education system, read on as we cover the core defines of today’s educational counseling practice</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-5">
						  	<div class="img" style="background-image: url(images/work-6.jpg);"></div>
						  	<h3><a href="#">Therapeutic Exercise</a></h3>
						  	<p>We provide mental health support to help improve children and young people’s social and emotional wellbeing and their participation at school and in the community. We do this by working therapeutically with children and young people and their families/carers. We also support the knowledge and skill development of foster/kinship carers, residential care providers, government, non-government and private sector service providers in supporting children and young people in care..</p>
						  </div>
						  <div class="tab-pane container p-0 fade" id="services-6">
						  	<div class="img" style="background-image: url(images/work-1.jpg);"></div>
						  	<h3><a href="#">Substance abuse counseling</a></h3>
						  	<p>Substance abuse counseling refers to a type of intervention (action intended to alter the course of a disease process) to help individuals recover from abuse of alcohol (or other drug) by abstaining completely from the substance or cutting down on its use. With regard to alcohol abuse—which is the most common form of substance abuse in seniors—the most widely used form of counseling is called brief alcohol intervention or BAI.</p>
						  </div>
						</div>
					</div>
				</div>
    	</div>
    </section>
 {% endblock %}
